.dashboard {
  padding: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.categories button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  overflow: hidden;
  padding: 15px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.image-container img {
  width: 150px !important;
  height: 150px !important;
  object-fit: contain; /* Maintains aspect ratio without cropping */
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ffcc00;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 5px;
}

.price {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.old-price {
  text-decoration: line-through; /* This will create the strikethrough effect */
  color: gray;
  margin-right: 5px;
  font-size: 14px;
}




.new-price {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.rating {
  color: #f4c430;
  font-size: 16px;
  margin: 8px 0;
}

.action-button {
  display: block;
  background: #008000;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.action-button:hover {
  background: #006400;
}
