<footer class="footer">
    <div class="footer-container">
      <!-- Logo Section -->
      <div class="footer-logo">
        <img src="../../../assets/logo.jpeg" alt="Plant Collector Logo" class="logo" />
        <h2>SEEDNESTLE</h2>
      </div>
  
      <!-- About Us Section -->
      <div class="footer-about">
        <p>
            SeedNestle, your one-stop destination for everything nature! At SeedNestle, we believe in "Sowing the seeds of a greener tomorrow." We are passionate about providing high-quality plant seeds, tools, and equipment that empower you to nurture and grow your own piece of nature. Whether you’re a beginner or a seasoned gardener, we have everything you need to cultivate your dream garden.
        </p>
        <!-- <p><strong>Address:</strong> 356 Victoria St, Richmond, VIC, 3121</p> -->
      </div>
  
      <!-- Explore Section -->
      <div class="footer-explore">
        <h3>Explore</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/achivements()">About US</a></li>
          <li><a href="/gallery()">Gallery</a></li>
          <li><a href="/products()">Products</a></li>
          <!-- <li><a href="#">FAQs</a></li> -->
          <li><a [routerLink]="['/admin-login']">Admin</a></li>

          
        </ul>
      </div>
  
      <!-- Contact Us Section -->
      <div class="footer-contact">
        <h3>Contact Us</h3>
        <ul>
          <!-- <li><i class="fas fa-phone"></i> +61 123 456 789</li> -->
          <li><i class="fas fa-envelope"></i> seednestle&#64;gmail.com</li>
          <li>
            <a href="https://www.instagram.com/seednestle/" target="_blank">
              <img
                src="../../../assets/instagram.png"
                alt="Instagram Logo"
                class="instagram-logo"
              />
              
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  