<div class="upgap"></div>

<div class="card-row">
  <div class="card">
    <img src="../../../assets/top1-Mammillaria carmenae.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Mammillaria carmenae</p>
      <p class="card__description">Mammillaria carmenae is a small, globular cactus known for its dense covering of soft, white spines and its ability to produce beautiful pink or white flowers in a crown-like formation around the top. It is a low-maintenance plant, making it a popular choice for succulent and cactus collections.</p><br>
      <span (click)="goToProductsPage()">Mammillaria carmenae</span>>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top2-chocolate soldier-Kalanchoe tomentosa.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">chocolate plant 'Kalanchoe'</p>
      <p class="card__description">The chocolate plant is not a recognized common name for Kalanchoe tomentosa. However, Kalanchoe tomentosa is commonly known as Panda Plant due to its fuzzy, velvety leaves with brownish edges.
        It belongs to the Crassulaceae family and is categorized as a succulent plant. </p><br>
        <span (click)="goToProductsPage()">chocolate plant 'Kalanchoe'</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top3-Euphobia japonica.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Euphorbia japonica</p>
      <p class="card__description">Euphorbia japonica is a unique hybrid succulent, often mistaken for a small cactus due to its spiny, thickened stem. It is a cross between Euphorbia susannae and Euphorbia bupleurifolia, forming a caudex-like base with spiky green leaves emerging from the top.</p><br>
      <span (click)="goToProductsPage()">Euphorbia japonica</span> 
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top4Pachyphytum Compactum.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pachyphytum compactum</p>
      <p class="card__description">Pachyphytum compactum, commonly known as Little Jewel, is a unique succulent with plump, geometric leaves that have a faceted appearance, resembling cut gemstones. The leaves are often green but can develop shades of purple or pink under stress.</p><br>
      <span (click)="goToProductsPage()">Pachyphytum compactum</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top5-Echeveria lilacina.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Echeveria lilacina</p>
      <p class="card__description">Echeveria lilacina, commonly known as Ghost Echeveria, is a stunning rosette-forming succulent with silvery-gray, spoon-shaped leaves. It has a slow-growing nature and produces delicate pink or coral-colored flowers on tall stalks.</p><br>
      <span (click)="goToProductsPage()">Echeveria lilacina</span>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../assets/top6-pedpoudhe sempervivum calcareum.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Sempervivum calcareum</p>
      <p class="card__description">Sempervivum calcareum, commonly known as Houseleek or Hens and Chicks, is a hardy, rosette-forming succulent with thick, fleshy green leaves that have striking red or burgundy tips. It produces offsets (chicks) around the main rosette (hen), making it an excellent ground cover or container plant.</p><br>
      <span (click)="goToProductsPage()">Sempervivum calcareum></span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top7-Euphorbia.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Euphorbia globosa</p>
      <p class="card__description">Euphorbia globosa is a rare and fascinating succulent known for its small, rounded, bead-like stems that form clusters, resembling a string of green pearls. It produces tiny yellow-green flowers and, like all Euphorbias, contains a milky sap that can be toxic if it comes into contact with skin or is ingested.</p><br>
      <span (click)="goToProductsPage()">Euphorbia globosa</span>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../assets/top8-Echeveria.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Echeveria</p>
      <p class="card__description">Echeveria is a popular genus of rosette-forming succulents known for their stunning, symmetrical foliage in a variety of colors, including green, blue, pink, and purple. These drought-tolerant plants produce bell-shaped flowers on long stalks and are commonly used in rock gardens, terrariums, and indoor decor.</p><br>
      <span (click)="goToProductsPage()">Echeveria</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top9-sedum clavantum.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Sedum clavatum</p>
      <p class="card__description">Sedum clavatum is a beautiful trailing succulent known for its compact rosettes of bluish-green leaves that can develop pinkish edges under bright sunlight. It produces small, star-shaped white flowers and is a fast-growing, drought-tolerant plant, perfect for both containers and ground cover.</p><br>
      <span (click)="goToProductsPage()">Sedum clavatum</span>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../assets/top10-echeveria.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Echeveria</p>
      <p class="card__description">Echeveria is a stunning, rosette-forming succulent known for its thick, fleshy leaves that come in a variety of colors, including green, blue, pink, and purple. It is drought-tolerant, easy to care for, and produces bell-shaped flowers on tall stalks during the growing season.</p><br>
      <span (click)="goToProductsPage()">Echeveria</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top11-Pedilanthus, Euphorbia tithymaloides.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pedilanthus (Euphorbia tithymaloides)</p>
      <p class="card__description">Pedilanthus (Euphorbia tithymaloides), also known as Zigzag Plant, is a unique succulent shrub with zigzag-shaped stems and small, colorful bracts that resemble flowers. Despite its cactus-like appearance, it belongs to the Euphorbiaceae family </p><br>
      <span (click)="goToProductsPage()">Pedilanthus (Euphorbia tithymaloides)</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top12-Echeveria.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Echeveria</p>
      <p class="card__description">Echeveria is a popular genus of rosette-forming succulents known for their stunning, symmetrical foliage in a variety of colors, including green, blue, pink, and purple. These drought-tolerant plants produce bell-shaped flowers on long stalks and are commonly used in rock gardens, terrariums, and indoor decor.</p><br>
      <span (click)="goToProductsPage()">Echeveria</span>
    </div>
  </div>
  
  
  <div class="card">
    <img src="../../../assets/top13-Pedilanthus Tithymaloides.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pedilanthus tithymaloides</p>
      <p class="card__description">Pedilanthus tithymaloides, commonly known as Devil’s Backbone, Zigzag Plant, or Redbird Cactus, is a succulent shrub with unique zigzagging stems and colorful bracts resembling tiny flowers. Despite its resemblance to a cactus, it belongs to the Euphorbiaceae family and produces a milky sap that is toxic if ingested or comes into contact with skin.</p><br>
      <span (click)="goToProductsPage()">Pedilanthus tithymaloides</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top14-Echeveria green spoon.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Echeveria 'Green Spoon'</p>
      <p class="card__description">Echeveria 'Green Spoon' is a beautiful, rosette-forming succulent with spoon-shaped, fleshy green leaves that have a slightly powdery coating. This slow-growing plant is easy to care for, making it an excellent choice for indoor and outdoor succulent arrangements.</p><br>
      <span (click)="goToProductsPage()">Echeveria 'Green Spoon'</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top15 sedum lineare.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Sedum lineare</p>
      <p class="card__description">Sedum lineare, commonly known as Needle Stonecrop or Carpet Sedum, is a fast-growing, trailing succulent with slender, bright green, needle-like leaves. It is a low-maintenance, drought-tolerant plant that forms dense mats and produces small yellow star-shaped flowers in summer.</p><br>
      <span (click)="goToProductsPage()">Sedum lineare</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top16.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Haworthia cymbiformis</p>
      <p class="card__description">Haworthia cymbiformis, commonly known as the Cathedral Window Haworthia, is a compact, rosette-forming succulent with thick, fleshy, translucent green leaves that allow light to pass through, helping with photosynthesis. It belongs to the Asphodelaceae family and is well-loved for its easy-care nature and unique, glassy leaf tips.</p><br>
      <span (click)="goToProductsPage()">Haworthia cymbiformis</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top17 euphorbia trigona.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Euphorbia trigona</p>
      <p class="card__description">Euphorbia trigona, commonly known as the African Milk Tree, is a fast-growing, upright succulent with thick, triangular stems and spiky ridges. It features small green leaves along its edges and can develop a reddish tint in bright sunlight.</p><br>
      <span (click)="goToProductsPage()">Euphorbia trigona</span>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../assets/top18 mammilaria gracillis.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Mammillaria gracilis</p>
      <p class="card__description">Mammillaria gracilis, commonly known as Thimble Cactus, is a small, clump-forming cactus with delicate, white spines that give it a soft, webbed appearance. It is easy to grow, drought-tolerant, and produces tiny white or pale yellow flowers</p><br>
      <span (click)="goToProductsPage()">Mammillaria gracilis</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top19.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pachyphytum oviferum</p>
      <p class="card__description">Pachyphytum oviferum, commonly known as Moonstone Succulent, is a charming, plump-leaved succulent with rounded, pastel-colored leaves in shades of blue, lavender, or pink. Its powdery, waxy coating helps it retain moisture and enhances its soft</p><br>
      <span (click)="goToProductsPage()">Pachyphytum oviferum</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top20.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Agave 'Burnt Burgundy'</p>
      <p class="card__description">Agave 'Burnt Burgundy' is a stunning, compact agave hybrid known for its deep burgundy-colored leaves that darken under full sun. Its thick, pointed leaves form a symmetrical rosette, making it an excellent choice for succulent gardens, rock landscapes, and container displays. </p><br>
      <span (click)="goToProductsPage()">Agave 'Burnt Burgundy'</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top21.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Mammillaria elongata 'Green'</p>
      <p class="card__description">Mammillaria elongata 'Green', commonly known as Ladyfinger Cactus, is a small, clumping cactus with cylindrical, green stems covered in golden or white spines. It is a low-maintenance, drought-tolerant plant that produces small pink or white flowers in the right conditions.</p><br>
      <span (click)="goToProductsPage()">Mammillaria elongata 'Green'</span>
    </div>
  </div>


  <div class="card">
    <img src="../../../assets/top22 Haworthia cooperi.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Haworthia cooperi</p>
      <p class="card__description">Haworthia cooperi, also known as the Transparent Window Plant, is a small, rosette-forming succulent with plump, translucent green leaves that allow light to pass through for photosynthesis. This unique feature gives it a glassy, jewel-like appearance.</p><br>
      <span (click)="goToProductsPage()">Haworthia cooperi</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top23.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Lenophyllum texanum</p>
      <p class="card__description">Lenophyllum texanum, commonly known as Texas Sedum, is a small, hardy succulent native to Texas and northern Mexico. It features fleshy, spoon-shaped green leaves that may develop a reddish or purplish hue in full sun.</p><br>
      <span (click)="goToProductsPage()">Lenophyllum texanum</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top24 sedum little gem.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Sedum 'Little Gem'</p>
      <p class="card__description">Sedum 'Little Gem' is a small, compact succulent known for its dense, bright green leaves that turn reddish-bronze in full sun. It is a fast-growing, low-maintenance plant that forms attractive mats</p><br>
      <span (click)="goToProductsPage()">Sedum 'Little Gem'</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top25.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Aloe 'Pink Bluish'</p>
      <p class="card__description">Aloe 'Pink Bluish' is a stunning hybrid Aloe variety known for its unique blend of pink, blue, and green hues on its thick, fleshy leaves. This slow-growing succulent is drought-tolerant and thrives in well-draining soil, making it an excellent choice for both indoor and outdoor spaces.</p><br>
      <span (click)="goToProductsPage()">Aloe 'Pink Bluish'</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top26 haworthia retusa.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Haworthia retusa</p>
      <p class="card__description">Haworthia retusa, also known as the Star Cactus or Window Succulent, is a small, rosette-forming succulent with translucent, green leaves that allow light to pass through for photosynthesis. This unique feature gives it a glassy appearance, making it a favorite among succulent collectors.</p><br>
      <span (click)="goToProductsPage()">Haworthia retusa</span>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top27 haworthia fasciata.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Haworthia fasciata</p>
      <p class="card__description">Haworthia fasciata, commonly known as the Zebra Plant, is a small, slow-growing succulent with thick, dark green leaves covered in white, raised stripes. It is a low-maintenance plant, perfect for indoor spaces and small pots.</p><br>
      <span (click)="goToProductsPage()">Haworthia fasciata</span>
    </div>
  </div>

</div>

<div class="gap"></div>
