<div class="upgap"></div>

<div class="card-row">
  <div class="card">
    <img src="../../../assets/top1-Mammillaria carmenae.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Spider Plant (Chlorophytum comosum)</p>
      <p class="card__description">Known for its air-purifying qualities, the Spider Plant is a resilient and low-maintenance indoor favorite.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top2-chocolate soldier-Kalanchoe tomentosa.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Peace Lily (Spathiphyllum)</p>
      <p class="card__description">With its elegant white flowers, the Peace Lily is known for purifying indoor air and adding a touch of serenity.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top3-Euphobia japonica.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top4Pachyphytum Compactum.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Peace Lily (Spathiphyllum)</p>
      <p class="card__description">With its elegant white flowers, the Peace Lily is known for purifying indoor air and adding a touch of serenity.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top5-Echeveria lilacina.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../assets/top6-pedpoudhe sempervivum calcareum.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Peace Lily (Spathiphyllum)</p>
      <p class="card__description">With its elegant white flowers, the Peace Lily is known for purifying indoor air and adding a touch of serenity.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top7-Euphorbia.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../assets/top8-Echeveria.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Peace Lily (Spathiphyllum)</p>
      <p class="card__description">With its elegant white flowers, the Peace Lily is known for purifying indoor air and adding a touch of serenity.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top9-sedum clavantum.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../assets/top10-echeveria.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Peace Lily (Spathiphyllum)</p>
      <p class="card__description">With its elegant white flowers, the Peace Lily is known for purifying indoor air and adding a touch of serenity.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top11-Pedilanthus, Euphorbia tithymaloides.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top12-Echeveria.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>
  
  
  <div class="card">
    <img src="../../../assets/top13-Pedilanthus Tithymaloides.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Snake Plant (Sansevieria trifasciata)</p>
      <p class="card__description">The Snake Plant is a hardy, drought-tolerant plant that thrives in low light and improves air quality.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top14-Echeveria green spoon.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top15 sedum lineare.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Snake Plant (Sansevieria trifasciata)</p>
      <p class="card__description">The Snake Plant is a hardy, drought-tolerant plant that thrives in low light and improves air quality.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/top16.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top17 euphorbia trigona.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Snake Plant (Sansevieria trifasciata)</p>
      <p class="card__description">The Snake Plant is a hardy, drought-tolerant plant that thrives in low light and improves air quality.</p>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../assets/top18 mammilaria gracillis.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pothos (Epipremnum aureum)</p>
      <p class="card__description">This trailing vine is a popular choice for beginners due to its ability to grow in a variety of lighting conditions.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top19.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Snake Plant (Sansevieria trifasciata)</p>
      <p class="card__description">The Snake Plant is a hardy, drought-tolerant plant that thrives in low light and improves air quality.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top20.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">ZZ Plant (Zamioculcas zamiifolia)</p>
      <p class="card__description">Known for its glossy, dark green leaves, the ZZ Plant is nearly indestructible and thrives in low light.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top21.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Ficus (Ficus elastica)</p>
      <p class="card__description">The Ficus is a popular indoor plant with glossy, bold leaves that make a striking addition to any space.</p>
    </div>
  </div>


  <div class="card">
    <img src="../../../assets/top22 Haworthia cooperi.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Philodendron</p>
      <p class="card__description">Philodendrons are known for their beautiful, heart-shaped leaves and are incredibly easy to care for in indoor environments.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top23.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Monstera (Monstera deliciosa)</p>
      <p class="card__description">The Monstera, with its iconic split leaves, adds a tropical feel to indoor spaces and grows quickly.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top24 sedum little gem.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Pedilanthus</p>
      <p class="card__description">Pedilanthus plants are relatively low-maintenance and can thrive in a variety of conditions. They prefer bright, indirect light but can tolerate some direct sun. They also prefer well-draining soil and should be watered sparingly, allowing the soil to dry out between waterings</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top25.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Echeveria</p>
      <p class="card__description">Echeveria is a large genus of flowering plants in the family Crassulaceae, native to semi-desert areas of Central America, Mexico and northwestern South America.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top26 haworthia retusa.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Tiger tooth aloe</p>
      <p class="card__description">Aloe juvenna is a species of plant in the genus Aloe. It is popular in cultivation but extremely rare in its natural habitat in Kenya.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/top27 haworthia fasciata.jpg" alt="Card Image">
    <div class="card__content">
      <p class="card__title">Chocolate soldier</p>
      <p class="card__description">Kalanchoe tomentosa, also known as pussy ears or panda plant, is a succulent plant in the genus Kalanchoe. A native of Madagascar, Kalanchoe tomentosa has many different cultivars such as 'Chocolate Soldier', 'Golden Girl', 'Black Tie' and 'Teddy Bear'. It has red-rimmed leaves.</p>
    </div>
  </div>

</div>

<div class="gap"></div>
