<!-- Logo with Text -->
<nav class="navbar">
    <a class="navbar-brand" href="#">

      <img src="../../../assets/toplogo.png" width="50" height="50" class="d-inline-block align-top" alt="Company Logo">
      SEEDNESTLE
    </a>
 
  
  <!-- Navigation Links -->
  <nav class="nav-links">
    <a routerLink="/home">Home</a>
    <a routerLink="/shop">Shop</a>
    <a routerLink="/categories" (click)="products()">products</a>
    <a routerLink="/deals" (click)="achivements()">achivements</a>
    <a routerLink="/gallery" (click)="gallery()">gallery</a>
  </nav>
  
  <!-- Icons for User Account and Cart -->
  <div class="header-icons">
    <i class="fas fa-user"></i> <!-- Account Icon -->
    <i class="fas fa-shopping-cart"></i> <!-- Cart Icon -->
  </div>

  </nav>