<marquee behavior="" direction="">GET and win up to 65,000 rewards!</marquee>

<div class="landing-container">
  <div class="landing-content">
    <h1>Welcome to SeedNestle</h1>
    <p>Your destination for premium seeds and expert gardening tips!</p>
    <button>Start Exploring</button>
  </div>
</div>

<div class="features-container">
    <div class="feature">
      <img src="../../../assets/plant.png" alt="Plant Icon" class="feature-icon">
      <p>Handpicked, Premium Quality Plants</p>
    </div>
    <div class="divider"></div>
    <div class="feature">
      <img src="../../../assets/gloves.png" alt="Watering Can Icon" class="feature-icon">
      <p>Expert Plant Care & Maintenance Services</p>
    </div>
    <div class="divider"></div>
    <div class="feature">
      <img src="../../../assets/watering-plants.png" alt="Gloves Icon" class="feature-icon">
      <p>Personalised Plant Care Education</p>
    </div>
  </div>

<div class="view">
  <div class="block">
    <img src="../../../assets/pick2.jpg" alt="Gardening Tools" />
    
    <span>- John Doe</span>
  </div>
  <div class="block">
    <p style="font-family: Arial, sans-serif; font-size: 16px; color: #3a3a3a; line-height: 1.6; margin: 0;">
      <strong>Your Journey to a Greener Space Starts Here</strong><br>
      At PCM, we're dedicated to guiding you on your plant journey with top-tier products, expert services, and personalised education. Whether you’re looking to beautify your space with high-quality plants, ensure your green friends receive the best care, or deepen your plant knowledge, PCM is here to support you.
    </p>
    
  </div>
  <div class="block">
    <img src="../../../assets/pick3.jpg" alt="Plant Growth" />
    <p>See your garden flourish with our high-quality seeds.</p>
  </div>
  <div class="block">

    <p style="font-family: Arial, sans-serif; font-size: 16px; color: #3a3a3a; line-height: 1.6; margin: 0;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="color: orange;">Quality Products</strong><br>
      <strong>Handpicked, Premium Quality Plants</strong><br>
      Explore our curated selection of premium plants, chosen for their beauty and quality. Perfect for adding a touch of nature to any space.
    </p>
  </div>
  <div class="block">
    <img src="../../../assets/pic1.webp" alt="Special Offers" />
    <p>Take advantage of our exclusive deals and rewards.</p>
  </div>
  <div class="block">
    
    <p style="font-family: Arial, sans-serif; font-size: 16px; color: #3a3a3a; line-height: 1.6; margin: 0;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="color: orange;">Professional Services</strong><br>
      <strong>Expert Plant Care & Maintenance Services</strong><br>
      Our professional plant care and maintenance services ensure your plants thrive. Trust us to keep your green friends healthy and vibrant.
    </p>
  </div>
</div>
