


<!-- app.component.html -->
<div class="full-screen-container">
  <img src="../assets/logo2.png" alt="My Image" class="center-image">
</div>


<h1>Comming Soon Stayed Tuned</h1>
<div class="loader">
  <div class="circle">
    <div class="dot"></div>
    <div class="outline"></div>
  </div>
  <div class="circle">
    <div class="dot"></div>
    <div class="outline"></div>
  </div>
  <div class="circle">
    <div class="dot"></div>
    <div class="outline"></div>
  </div>
  <div class="circle">
    <div class="dot"></div>
    <div class="outline"></div>
  </div>
</div>