/* You can add global styles to this file, and also import other style files */
/* styles.css */
body {
    background-color: black;
    color: white;  /* Optional: Change text color to make it visible on black background */
  }
  